@mixin IconDisplay() {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: auto;
}

@mixin Position($top,$right,$bottom,$left,$color) {
  border-radius: 4px;
  position: absolute;
  top: $top;
  right: $right;
  left: $left;
  bottom: $bottom;
  display: flex;
  background: $color;
  justify-content: center;
  align-items: center;
}

@mixin Button($width, $height, $mt, $mb, $ml, $pl, $fz) {
  position: relative;
  display: flex;
  top: 0;
  left: 0;
  background: $button1-color !important;
  width: $width;
  height: $height;
  font-size: $fz;
  margin-top: $mt;
  margin-bottom: $mb;
  margin-left: $ml;
  padding-left: $pl;
  padding-top: 6px;
  color: #FFF;
  font-weight: bold;
}
