@mixin Container(columns, rows, gap-c, gap-r) {
  display: grid;
  grid-template-columns: columns;
  grid-template-rows: rows;
  grid-auto-rows: minmax(100px, auto);
  text-align: center;
  grid-row-gap: gap-r;
  grid-column-gap: gap-c;
  grid-auto-flow: row;
  grid-auto-rows: 203px;
}
