@media only screen
and (min-device-width : 768px)
and (max-device-width : 1023px){
  .container1,
  .container2{
    grid-row-gap: 38px;
  }

}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 767px) {

  .section1 button,
  .section2 button{
    width: 91px;
    height: 28px;
    margin-top: 16px;
    margin-bottom: 19px;
    margin-left: 55px;
    padding-left: 9px;
    font-size: 11.5px;
  }

  .section2 {
    margin-top: 6px;
    button{
    font-size: 13px;
    margin-top: 0px;
    width: 145px;
    margin-left: 28px;
    background: $button2-color !important;
    padding-left: 7px;
  }
}

  #b-diff{
    margin-top: 0px;
  }



  .container1{
    grid-template-areas: "title"
                         "card1"
                         "card2";
    grid-row-gap: 9px;
       .title-container{
         width: 257px;
       }

      .item{
        width: 257px;
        height: 106px;
      }

      .item-1{
        p{
          font-size: 14px;
        }
      }

      .item-2,
      .item-3{
        .container3{
          .title{
            padding-top: 17px;
            padding-left: 6px;
            h5{
              font-size: 15px;
              line-height: 21px;
              width: 189px;
              height: 39px;
            }
          }
        }
      }

      .item-2{
        .container3{
          .icon{
            p{
                top: -119px;
                right: 0px;
                left: 200px;
                bottom: -3px;
                img{
                  width: 32px;
                }
              }
          }
        }
      }

      .item-3{
        .container3{
          .icon{
            p{
                top: -119px;
                right: 0px;
                left: 200px;
                bottom: -3px;
                img{
                  width: 32px;
                }
              }
          }
        }
      }
  }

  .container2{
    grid-template: "title"
                   "card22"
                   "card23"
                   "card24";
    grid-row-gap: 9px;

     .title-container{
       width: 257px;
     }

     .item{
       width: 257px;
       height: 106px;
     }

     .item-21{
       p{
         font-size: 14px;
       }
     }

     .item-22,
     .item-23,
     .item-24{
       .container3{
         .title{
           padding-top: 11px;
           padding-left: 6px;
           h5{
             font-size: 16.5px;
             line-height: 18px;
             width: 200px;
             height: 60px;
             padding: 0;
             margin: 0;
           }
         }
       }
     }

     .item-22,
     .item-23{
       .container3{
         .icon{
           p{
             position: absolute;
               top: -118px;
               right: 0px;
               left: 200px;
               bottom: -4px;
               display: flex;
               background: #FFECD6;
               justify-content: center;
               align-items: center;
               img{
                 width: 32px;
               }
             }
         }
       }
     }

     .item-24{
       .container3{
         .icon{
           p{
             position: absolute;
               top: -118px;
               right: 0px;
               left: 200px;
               bottom: -4px;
               display: flex;
               background: #7A64CC;
               justify-content: center;
               align-items: center;
               img{
                 width: 32px;
               }
             }
         }
       }
     }

  }
}
