@import "Variables";
@import "Mixins";


body{
  background: $primary-color !important;
  font-family: "TodaySHOP-Bold" !important;
}

h5{
  font-weight: bold !important;
  text-align: center;
}

.user{
  color: #521DA9;
  background: #E7E2FE;
  height: 50px;
  width: 100vw;
  font-size: 16px;
  padding-top: 14px;
  // padding-bottom: 11px;
  padding-left: 30px;
  margin-bottom: 41px;
}


.section1,
.section2{
  display: flex;
  justify-content: center;
  align-items: center;
}

.center{
  margin-left: auto;
  margin-right: auto;
}

.section1 button,
.section2 button{
  position: relative;
  display: flex;
  top: 0;
  left: 0;
  background: $button1-color !important;
  width: 188px;
  height: 38px;
  font-size: 19px;
  margin-top: 44px;
  margin-bottom: 19px;
  margin-left: 38px;
  padding-left: 37px;
  padding-top: 6px;
  color: #FFF;
  font-weight: bold;
  font-size: 19px;
}

.section2 button{
  padding-left: 9px;
  font-size: 17px;
}

.section2{
  margin-top: 63px;
  button{
  background: $button2-color !important;
  }
}

.container1{
  display: grid;
  // grid-template-columns: repeat(2, 334px);
  // grid-template-rows: 25px 203px;
  // grid-auto-rows: minmax(100px, auto);
  grid-template-areas: "title title"
                       "card1 card1"
                       "card2 card2";
  text-align: center;
  grid-row-gap: 19px;
  grid-column-gap: 34px;
  // grid-auto-flow: row;
  // grid-auto-rows: 203px;
  // @include Container(repeat(2,334px), 25px 203px, 34px, 19px)

.title-container{
  height: 25px;
  width: 668px;
}

.item{
  width: 334px;
  height: 203px;
}

  .item-1{
    grid-area: title;
    p{
      font-weight: bold;
      color: #FFF;
      font-size: 24px;
    }
  }

  .item-2,
  .item-3{
    .container3{
      height: 100%;
      background: #FFF;
      border-radius: 5.2px;
      .title{
        position: relative;
        top: 0;
        left: 0;
        padding-top: 42px;
        padding-left: 14px;
        h5{
          font-size: 20px;
          font-weight: bold;
          color: #000000;
          letter-spacing: 0.64px;
          line-height: 29px;
          width: 238px;
          height: 60px;
          padding: 0;
        }
      }
    }
  }

  .item2{
    grid-area: card1;
    position: relative;
    .container3{
      .icon{
        position:absolute;
        background: red;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }
  }

  .item3{
    grid-area: card2;
  }

}

.container2{
  display: grid;
  grid-template-areas: "title title"
                      "card22 card23"
                        "card24 .";
  grid-row-gap: 19px;
  grid-column-gap: 34px;

  .title-container{
    height: 25px;
    width: 668px;
  }

  .item{
    width: 334px;
    height: 203px;
  }

    .item-21{
      grid-area: title;
      text-align: center;
      p{
        font-weight: bold;
        color: #FFF;
        font-size: 24px;
      }
    }
    .item-23,
    .item-24{
      .container3{
        height: 100%;
        background: #FFF;
        border-radius: 5.2px;
        .title{
          position: relative;
          top: 0;
          left: 0;
          padding-top: 42px;
          h5{
            font-size: 20px;
            font-weight: bold;
            color: #000000;
            letter-spacing: 0.64px;
            line-height: 29px;
            width: 260px;
            height: 60px;
            padding: 0;
          }
        }
      }
    }

    .item-22{
      grid-area: card22;
      .container3{
        height: 100%;
        background: #FFF;
        border-radius: 5.2px;
        .title{
          position: relative;
          top: 0;
          left: 0;
          padding-top: 30px;
          h5{
            font-size: 20px;
            font-weight: bold;
            color: #000000;
            letter-spacing: 0.64px;
            line-height: 29px;
            width: 260px;
            height: 90px;
            padding: 0;
          }
        }
      }
    }

    .item-24{
      grid-area: card24;
      opacity: 0.2;
      .title{

        h5{
          width: 230px;
        }
      }
    }
}

#b-diff{
  margin-top: 26px;
}

@import "ResponsiveIpad";
