@import "Variables";
@import "Mixins";


body{
  background: $primary-color !important;
  font-family: "TodaySHOP-Bold" !important;
}

h5{
  font-weight: bold !important;
  text-align: center;
}

.user{
  display: flex;
  justify-content: space-between;
  color: #521DA9;
  background: #E7E2FE;
  height: 50px;
  width: 100vw;
  font-size: 16px;
  padding-top: 14px;
  // padding-bottom: 11px;
  padding-left: 30px;
  margin-bottom: 41px;
  img{
    margin-right: 10px;
    width: 20px;
    color: white;
  }
}


.section1,
.section2{
  display: flex;
  justify-content: center;
  align-items: center;
}

.center{
  margin-left: auto;
  margin-right: auto;
}

.section1 button,
.section2 button{
  @include Button(188px,38px,44px,19px,38px,37px,19px);
}

.section2 button{
  padding-left: 9px;
  font-size: 17px;
}

.section2{
  margin-top: 63px;
  button{
  background: $button2-color !important;
  }
}

.container1{
  display: grid;
  grid-template-areas: "title title"
                       "card1 card2";
  text-align: center;
  grid-row-gap: 19px;
  grid-column-gap: 34px;

.title-container{
  height: 25px;
  width: 668px;
}

.item{
  width: 334px;
  height: 203px;
}

  .item-1{
    grid-area: title;
    p{
      font-weight: bold;
      color: #FFF;
      font-size: 24px;
    }
  }

  .item-2,
  .item-3{
    .container3{
      height: 100%;
      background: #FFF;
      border-radius: 5.2px;
      .title{
        position: relative;
        top: 0;
        left: 0;
        padding-top: 42px;
        padding-left: 14px;
        h5{
          font-size: 20px;
          font-weight: bold;
          color: #000000;
          letter-spacing: 0.64px;
          line-height: 29px;
          width: 238px;
          height: 60px;
          padding: 0;
        }
      }
    }
  }

  .item-2{
    grid-area: card1;
    position: relative;
    .container3{
      .icon{
        @include IconDisplay();
        p{
          @include Position(-203px,0px,-16px,245px,#E9F2DF);
        }
      }
    }
  }

  .item-3{
    grid-area: card2;
    .icon{
      @include IconDisplay();
      p{
        @include Position(-203px,0px,-16px,245px,#E9F2DF);
      }
    }
  }

}

.container2{
  display: grid;
  grid-template-areas: "title title"
                      "card22 card23"
                        "card24 .";
  grid-row-gap: 19px;
  grid-column-gap: 34px;

  .title-container{
    height: 25px;
    width: 668px;
  }

  .item{
    width: 334px;
    height: 203px;
  }

    .item-21{
      grid-area: title;
      text-align: center;
      p{
        font-weight: bold;
        color: #FFF;
        font-size: 24px;
      }
    }

    .item-22,
    .item-23,
    .item-24{
      .container3{
        height: 100%;
        background: #FFF;
        border-radius: 5.2px;
        .title{
          position: relative;
          top: 0;
          left: 0;
          padding-top: 42px;
          h5{
            font-size: 20px;
            font-weight: bold;
            color: #000000;
            letter-spacing: 0.64px;
            line-height: 29px;
            width: 250px;
            height: 60px;
            padding: 0;
          }
        }

      }
    }

    .item-22{
      grid-area: card22;
      .container3{
        .title{
          padding-top: 30px;
          h5{
            height: 90px;
          }
        }
        .icon{
          @include IconDisplay();
          p{
            @include Position(-203px,0,-16px,245px,#FFECD6);
          }
        }
      }
    }

    .item-23{
      .container3{
        .icon{
          @include IconDisplay();
          p{
            @include Position(-203px,0,-16px,245px,#FFECD6);
          }
        }
      }
    }

    .item-24{
      grid-area: card24;
      opacity: 0.2;
      .title{
        h5{
          width: 230px;
        }
      }
      .icon{
        @include IconDisplay();
        p{
          @include Position(-203px,0,-16px,245px,#FFECD6);
        }
      }
    }
}

#b-diff{
  margin-top: 26px;
}

@import "Responsive";
